.button {
  padding: 15px 25px;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.5s ease-in-out;
  min-width: 130px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  
  
}

.standard {
  border: 2px solid #eee;
  background: #fff;
}

.primary {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
}

.black {
  background: #111;
  color: #fff;
  &:hover {
    background: #000;
    transition: background 0.5s ease-in-out;
  }
}