.change-password-form {
  max-width: 500px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  h2 {
    margin: 0;
  }
  input {
    font-size: 1rem;
    padding: 15px 25px;
    border: 1px solid #eee;
    border-radius: 30px;
    &:focus {
      border: 1px solid #aaa;
    }
  }
  button {
    margin-top: 20px;
    align-self: flex-start;
  }
}