.cart-container {
  position: relative;
  margin-right: 20px;
  margin-left: auto;

  .cart-icon {
    color: var(--primary-color);
    font-size: 25px;
    cursor: pointer;
  }
  .quantity {
    position: absolute;
    top: -50%;
    right: -50%;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    min-width: 20px;
    font-size: 0.7rem;
    text-align: center;
    border: 1px solid var(--primary-color);
  }
  .cart-dropdown {
    position: absolute;
    top: 2.5rem;
    right: -1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 20px;
    min-width: 400px;
    .wrapper {
      overflow: hidden;
      color: black;
      
      .title {
        font-weight: bold;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px #eee solid;
      }
  
      .cart-empty {
        padding: 20px;
      }
  
      .cart-item-list {
        overflow-y: auto;
        max-height: 50vh;
        scrollbar-width: none;
      }
        
      .cart-total {
        border-top: 1px #eee solid;
        padding: 20px;
        .amount {
          display: flex;
          justify-content: space-between;
          margin: 0;
          font-weight: bold;
        }
        .note {
          color: #64748b;
          margin: 5px auto 0;
          font-size: 0.9rem;
        }
        .button-group-container {
          margin-top: 20px;
          display: flex;
          gap: 20px;
          > * {
            flex: 1;
          }
        }
      }
    }
  }
}