.user-container {
  position: relative;
  margin-right: 20px;

  .user-icon {
    color: var(--primary-color);
    font-size: 25px;
    cursor: pointer;
  }
  .user-dropdown {
    position: absolute;
    top: 2.5rem;
    right: -1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 20px;
    min-width: 280px;
    .wrapper {
      padding: 30px 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .title {
        font-weight: 600;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px #eee solid;
      }
      
    }
  }
}  