.container {
  padding: 20px;
  max-width: 1280px;
  margin: 70px auto;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.align-center {
  display: block;
  margin: auto;
}

.text-center {
  text-align: center;
}